body{
background-color: #66BFBF;
}

hr
{
   border-style: none;
   border-top-style: Dotted;
   border-color: Grey;
   border-width: 5px;
   width: 7%;
}
h3{
text-decoration: underline;
}
